{% extends 'base.html' %}
{% block head %}
    <title>Uploads</title>
    {% load static %}
{% endblock %}
{% block body %}
    <div class="container" style="width: 85%; padding: 20px 0;">
        {% for O in lead %}
            {% for key, value in l2.CHOICE.items %}
                {% if key == O.Category %}
                    <div class="card-panel teal lighten-2" style="padding: 30px; vertical-align: middle;">
                        <div class="row" style="margin: 0px">
                            <div class="col s8">
                            {% if O.Approved %}
                            <i class="small material-icons">assignment_turned_in</i>
                            {% endif %}
                            <h5 style="display:inline;">{{value}}</h5>
                            </div>
                            <div class="col s4">
                            <a href="{% url 'accounts:delete_leadpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 0 0 10px; background-color: #d9534f;
                               text-decoration: none; padding: 0 15px;">Delete</a>
                            {% if not O.Approved %}
                            <a href="{% url 'accounts:edit_leadpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #5cb85c;
                               text-decoration: none; padding: 0 15px;">Change</a>
                            {% endif %}
                            <a href="{% url 'accounts:view_leadpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #8A2BE2;
                               text-decoration: none; padding: 0 15px;">View</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for O in nat %}
            {% for key, value in n2.CHOICE1.items %}
                {% if key == O.Category %}
                    <div class="card-panel teal lighten-2" style="padding: 30px; vertical-align: middle;">
                        <div class="row" style="margin: 0px">
                            <div class="col s8">
                            {% if O.Approved %}
                            <i class="small material-icons">assignment_turned_in</i>
                            {% endif %}
                            <h5 style="display:inline;">{{value}}</h5>
                            </div>
                            <div class="col s4">
                            <a href="{% url 'accounts:delete_natpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 0 0 10px; background-color: #d9534f;
                               text-decoration: none; padding: 0 15px;">Delete</a>
                            {% if not O.Approved %}
                            <a href="{% url 'accounts:edit_natpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #5cb85c;
                               text-decoration: none; padding: 0 15px;">Change</a>
                            {% endif %}
                            <a href="{% url 'accounts:view_natpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #8A2BE2;
                               text-decoration: none; padding: 0 15px;">View</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for O in cult %}
            {% for key, value in c2.CHOICE1.items %}
                {% if key == O.Category %}
                    <div class="card-panel teal lighten-2" style="padding: 30px; vertical-align: middle;">
                        <div class="row" style="margin: 0px">
                            <div class="col s8">
                            {% if O.Approved %}
                            <i class="small material-icons">assignment_turned_in</i>
                            {% endif %}
                            <h5 style="display:inline;">{{value}}</h5>
                            </div>
                            <div class="col s4">
                            <a href="{% url 'accounts:delete_cultpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 0 0 10px; background-color: #d9534f;
                               text-decoration: none; padding: 0 15px;">Delete</a>
                            {% if not O.Approved %}
                            <a href="{% url 'accounts:edit_cultpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #5cb85c;
                               text-decoration: none; padding: 0 15px;">Change</a>
                            {% endif %}
                            <a href="{% url 'accounts:view_cultpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #8A2BE2;
                               text-decoration: none; padding: 0 15px;">View</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for O in prof %}
            {% for key, value in p2.CHOICE.items %}
                {% if key == O.Category %}
                    <div class="card-panel teal lighten-2" style="padding: 30px; vertical-align: middle;">
                        <div class="row" style="margin: 0px">
                            <div class="col s8">
                            {% if O.Approved %}
                                <i class="small material-icons">assignment_turned_in</i>
                            {% endif %}
                            <h5 style="display:inline;">{{value}}</h5>
                            </div>
                            <div class="col s4">
                            <a href="{% url 'accounts:delete_profpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 0 0 10px; background-color: #d9534f;
                               text-decoration: none; padding: 0 15px;">Delete</a>
                            {% if not O.Approved %}
                            <a href="{% url 'accounts:edit_profpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #5cb85c;
                               text-decoration: none; padding: 0 15px;">Change</a>
                            {% endif %}
                            <a href="{% url 'accounts:view_profpage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #8A2BE2;
                               text-decoration: none; padding: 0 15px;">View</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for O in entr %}
            {% for key, value in e2.CHOICE.items %}
                {% if key == O.Category %}
                    <div class="card-panel teal lighten-2" style="padding: 30px; vertical-align: middle;">
                        <div class="row" style="margin: 0px">
                            <div class="col s8">
                            {% if O.Approved %}
                            <i class="small material-icons">assignment_turned_in</i>
                            {% endif %}
                            <h5 style="display:inline;">{{value}}</h5>
                            </div>
                            <div class="col s4">
                            <a href="{% url 'accounts:delete_entrepage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 0 0 10px; background-color: #d9534f;
                               text-decoration: none; padding: 0 15px;">Delete</a>
                            {% if not O.Approved %}
                            <a href="{% url 'accounts:edit_entrepage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #5cb85c;
                               text-decoration: none; padding: 0 15px;">Change</a>
                            {% endif %}
                            <a href="{% url 'accounts:view_entrepage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #8A2BE2;
                               text-decoration: none; padding: 0 15px;">View</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for O in game %}
            {% for key, value in g2.CHOICE1.items %}
                {% if key == O.Category %}
                    <div class="card-panel teal lighten-2" style="padding: 30px; vertical-align: middle;">
                        <div class="row" style="margin: 0px">
                            <div class="col s8">
                            {% if O.Approved %}
                                <i class="small material-icons">assignment_turned_in</i>
                            {% endif %}
                            <h5 style="display:inline;">{{value}}</h5>
                            </div>
                            <div class="col s4">
                            <a href="{% url 'accounts:delete_gamepage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 0 0 10px; background-color: #d9534f;
                               text-decoration: none; padding: 0 15px;">Delete</a>
                            {% if not O.Approved %}
                            <a href="{% url 'accounts:edit_gamepage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #5cb85c;
                               text-decoration: none; padding: 0 15px;">Change</a>
                            {% endif %}
                            <a href="{% url 'accounts:view_gamepage' O.id %}" class="waves-effect waves-light btn"
                               style="float:right; margin: 0 10px; background-color: #8A2BE2;
                               text-decoration: none; padding: 0 15px;">View</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
<script>Activate(2)</script>
{% endblock %}

<!--'lead': l2.CHOICE[l1], 'nat': n2.CHOICE1[n1], 'cult': c2.CHOICE1[c1], 'prof': p2.CHOICE[p1],-->
            <!--'entr': e2.CHOICE[e1], 'game': g2.CHOICE1[g1]-->