<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
      <link  rel="stylesheet" href="{% static 'accounts/css/stylesheet.css' %}" type="text/css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
      {% if user.is_authenticated %}
      <h1 align="center" class="h1"><em>CreditZup</em></h1>
      <div class="topnav">
          <a href="{% url 'accounts:profile' %}" class="bttn">Profile</a>
          <a href="{% url 'accounts:home' %}" class="bttn">Home</a>
          <a href="{% url 'accounts:uploads' %}" class="bttn">Uploads</a>
          <a href="{% url 'accounts:change_password' %}" class="bttn">Change Password</a>
          <a href="{% url 'accounts:logout' %}" class="bttn right">Logout</a>
      </div>
      {% else %}
      <h1 align="center" class="h1"><em>CreditZup</em></h1>
      <div class="topnav">
          <a href="{% url 'accounts:login' %}" class="bttn">Login</a>
          <a href="{% url 'accounts:register' %}" class="bttn">Register</a>
          <a href="{% url 'staff:home' %}" class="bttn right">Admin-Login</a>
      </div>
      {% endif %}
    {% block body %}
    {% endblock %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{% static 'accounts/js/base.js' %}"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
      });
  </script>
  {% block js %}
  {% endblock %}
  </body>
</html>
