<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
    <link  rel="stylesheet" href="{% static 'staff/css/stylesheet.css' %}" type="text/css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
        <h1 align="center" class="h1"><em>CreditZup Admin</em></h1>
        <div class="topnav">
            <a href="{% url 'staff:search' %}" class="bttn">Search</a>
            <a href="{% url 'staff:home' %}" class="bttn">Home</a>
            <a href="{% url 'accounts:logout' %}" class="bttn right">Logout</a>
        </div>
    {% block body %}
    {% endblock %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
      });
      var user = '{{ request.user }}';
        var media_url = 'https://res.cloudinary.com/bulkbazar/';
        media_url = media_url + 'media/';

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken')
  </script>
  <script src="{% static 'staff/js/base.js' %}"></script>
  <script src="{% static 'staff/js/search.js' %}"></script>
  {% block js %}
  {% endblock %}
  </body>
</html>
